html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 400px auto;
  overflow: hidden;
}
#side-panel {
  padding: 5px;
  border-right: 1px solid #c0c0c0;
  box-sizing: border-box;
}
figure {
  margin: 0;
  display: inline-block;
}
#preview {
  border: 0;
  background-color: #7c7c7c;
  outline: 1px solid #7c7c7c;
}
#zoom {
  display: inline-block;
}
#canvas-wrapper {
  background: repeating-linear-gradient(45deg,#606dbc,#606dbc 10px,#465298 10px,#465298 20px);
  height: 100vh;
  overflow: scroll;
  font-size: 0;
  text-align: center;
}
#editor {
  cursor: crosshair;
  border: 1px solid #c0c0c0;
}
#current {
  font-family: monospace;
  font-size: 18px;
}
#current::before {
  content: "Palette String: ";
  font-family: sans-serif;
  font-size: 16px;
}
#info {
  padding: 10px;
}
#palette-current {
  text-align: center;
}
.color {
  display: inline-block;
  color: white;
  padding: 10px 15px;
  height: 30px;
  line-height: 30px;
  border: 2px solid;
  margin: auto auto 10px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}
.color[data-selected] {
  border: 2px dashed;
  line-height: 20px;
}
.color[data-selected]::after {
  content: "(brush)";
  display: block;
  font-size: 55%;
  margin-top: -5px;
}
#palette-table {
  border-collapse: collapse;
  border: 1px solid #c0c0c0;
  table-layout: fixed;
  width: 375px;
}
#palette-table th {
  font-size: 12px;
    vertical-align: middle;
    text-align: center;
}
#palette-table td {
  width: 20px;
  height: 20px;
}
#palette-table td:hover {
  outline: 1px solid #000;
}
hr {
  background: transparent;
  border-width: 1px 10px 0 10px;
  border-color: #000;
  border-style: dashed;
  margin: 20px auto;
}
button {
  border: 0;
  background-color: #606dbc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 0 #465298;
  transition: 0.1s ease all;
  outline: none;
}
button:focus {
  background-color: #7986d2;
}
button:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px #465298;
  background-color: #7986d2;
}