#editor {
    margin: 20px;
    cursor: crosshair;
    cursor: url(pencil.png);
}

#current {
    font-family: monospace;
    font-size: 18px;
}

#current::before {
    content: 'Pallete String: ';
    font-size: 16px;
    font-family: sans-serif;
}

.right-panel {
    position: fixed;
    top: 25px;
    right: 25px;
    padding: 10px;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.85);
}

#info {
    padding: 10px;
    border-style: solid;
    border: black;
    border-radius: 5px;
}

#brush {
    width: 50px;
}

.color {
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: black;
    border-radius: 5px;
    border-style: solid;
    vertical-align: middle;
    color: white;
}